{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Register</h3>
    <div class="box">
        {% include "security/_messages.html" %}
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}
            <div class="field">
                <div class="control">
                    <!-- <input id="email" class="input is-large" type="email" name="email" placeholder="Email address" required autofocus value> -->
                    {{ render_field_with_errors(register_user_form.email, class="input is-large", placeholder="Email address") }}
                </div>
            </div>
            {% if security.username_enable %}
                <div class="field">
                    <div class="control">
                        {{ render_field_with_errors(register_user_form.username, class="input is-large", placeholder="Username") }}
                    </div>
                </div>
            {%  endif %}
            <div class="field">
                <div class="control">
                    <!-- <input id="password" class="input is-large" type="password" name="password" placeholder="Password" required value> -->
                    {{ render_field_with_errors(register_user_form.password, class="input is-large", placeholder="Password") }}
                </div>
            </div>
            {% if register_user_form.password_confirm %}
                <div class="field">
                    <div class="control">
                        {{ render_field_with_errors(register_user_form.password_confirm, class="input is-large", placeholder="Password") }}
                    </div>
                </div>
            {% endif %}
            <!-- <button id="submit" class="button is-block is-info is-large is-fullwidth" type="submit" name="submit">Login</button> -->
            {{ render_field(register_user_form.submit, class="button is-block is-info is-large is-fullwidth") }}
        </form>
    </div>
</div>
{% endblock %}
